html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Outfit', sans-serif;
	padding-right:100px;
	padding-left:200px;
	background: linear-gradient(to bottom, #2b2b2b, #989679);
	align-items: center;
}

h1{
	text-align: center;
	color: #2F4F4F;
	font-size: 40px;
}

h2{
	font-family: "Special Elite", system-ui;
	color: #000000;
	background-color: #ffffff;
	border-radius: 2px;
	display: inline-block;
	padding: 10px;
	margin-bottom:20px;
}

div .map{
	padding-top: 10px;
	padding-bottom: 10px;
}

p{
	font-size: 20px;
}

#style, #styling, #dual, #state_map {
	width: 100%;
    display: block;
    justify-content: center;
	font-family: 'Outfit', sans-serif;
}

.container {
	margin:0;
	display: flex;
	align-items: center;
	letter-spacing: 5px;
  }

  .container p{
	color: white;
	font-size: 50px;
  }

  .left {
	text-align: right;
	padding-right:1%;
  }

  .right {
	text-align: left;
  }

  .colored-text {
	color: #ddb97f; /* Dark yellow color */
	font-family: "Special Elite", system-ui;
	font-size: 40px;
  }

  .image {
	margin:0;
	margin-left:40px;
	margin-right:40px;
	align-items: center;
  }

  .image img {
	width: 200px; /* Adjust image size as needed */
	height: auto;
  }
  
  .short-intro{
	padding-right: 13%;
	padding-left: 5%;
	padding-bottom: 3%;
	text-align: center;
	color:#cadd7f;
  }

  .short-intro p{
	font-size: 20px;
	letter-spacing: 4px;
  }
  .short-intro a{
	color:#ffffff;
  }

  #myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 30px; /* Place the button at the bottom of the page */
	right: 50px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(114, 101, 24); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 20px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
  }

  label[for="yearSlider"] {
    color: red; /* Change the color to your desired value */
  }

  input[type="range"] {
    color: white;  /* This would change the color of the slider itself */
  }


